@model CarRental.Models.PasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container col-8 mt-4">
    <h3>Zmiana hasła</h3>
    @using (Html.BeginForm("ChangePassword", "Account",FormMethod.Post, new { id = "passwordForm"}))
    {
        @Html.LabelFor(x => x.OldPassoword, new { @class = "form-label" })
        <div>
            @Html.TextBoxFor(x => x.OldPassoword, new { @class = "form-control", type = "password" })
            @Html.ValidationMessageFor(x => x.OldPassoword)
            @Html.ValidationMessage("BadPassword")
        </div>
        @Html.LabelFor(x => x.NewPassoword, new { @class = "form-label" })
        <div>
            @Html.TextBoxFor(x => x.NewPassoword, new { @class = "form-control", type = "password" })
            @Html.ValidationMessageFor(x => x.NewPassoword)
        </div>
    }
    <div class="btn-group mt-2">
        <button class="btn btn-danger" onclick="location.href='@Url.Action("AccountData","Account")'">Wróć</button>
        <button type="submit" form="passwordForm" class="btn btn-success">Zmień hasło</button>
    </div>
</div>
